body {
    background-color: rgb(171, 230, 226);
    font-family: Arial sans-serif;
    width: 800px;
    justify-content: center;
}

h1{
    font-size: 28pt;
    text-align: center;
    margin-top: 2px;
    justify-content: center;
}

.cv{
    background: rgb(248, 241, 241);
    border-radius: 5px;
    border: 2px solid black; 
    padding: 40px;
    margin-left: 40%;
}

h2 {
    border-radius:15px;
}

button{
    background-color: rgb(142, 143, 143);
    margin-top: 10px;
    margin-left: 40%;
    padding: 10px 20px;
    cursor: pointer;
}


