body{ 
    margin: 20px;
    font-family: Arial,sans-serif;
    margin-left: 25%;
}

h1{
    font-size: 64px;
    font-weight: bold;
    padding: 10px;
    color: rgb(14, 26, 94);
}

h2{
    width: 60%;
    padding: 20px;
    color: white;
    background-color: rgb(14, 26, 94);
}

form{
    border-color: rgb(120, 153, 192);
    color: rgb(14, 26, 94);
    padding: 10px;
}

label{
    margin: 10px 0 2px;
    display: block;
    font-size: 20px;
} 

input{
    padding: 8px;
    margin-block-end: 10px;
    border: 1px solid rgb(14, 26, 94);
    border-radius: 4px;
    width: 59%;
}

button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(14, 26, 94);
    color: white;
    cursor: pointer;
}

button :hover {
    background-color: #474b48;
    color: white;
}

#generated-resume{
    border: 2px solid rgb(11, 21, 75);
    color: rgb(11, 21, 75);
    padding: 20px;
    border-radius: 10px;
    width: 60% ;
    margin-top: 5px;
}

#resumeOutput {
    font-size: 20px;
    color: rgb(14, 26, 94);
}

#resumeOutput , h3{
    width: 60%;
    padding: 20px;
    color: white;
    background-color: rgb(14, 26, 94);
    font-family: Arial, sans-serif;
}
